
/*
Created by : Beatrice Bjorn
For : Project - Restaurant - webbutveckling III, DT173G
Last updated : 2022-08-21
*/

/*
This file cotains the scss-code for the menu on the website
*/


header{
    background-color:  $headerColor;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.164);
    z-index: 1000;
}
nav {
    position: fixed;
    width: 100%; 
    margin-top: -20%;
    z-index: 10000;
    max-width: 2000px;
  }
  
  .logo {
    margin-left: 1%;
    width: 30%;
    height: auto; 
  }
  
  .hamburger {
    position: relative;
    float: right;
    margin-right: 2%;
    margin-top: 3%;
    border: none;
    cursor: pointer;
    background-color: $transparent;
    z-index: 999999;
  }
  
  .menu {
      position: fixed;
      transform: translateX(100%);
      transition: transform 0.5s;
      margin-left: 80%;
      background-color: $headerColor;
      list-style: none;
      width: 30%;
      padding-bottom: 100%;
      padding-top: 17%;
      height: auto;
      z-index: 1;
  }

  nav ul li{
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  nav ul li a{
      margin-right: -30%;
      color: $menutext;
      font-size: 50%;
      text-decoration: none;
      z-index: 1;
      font-weight: 400;
      padding: 4%;
      width: 30%;
  }
  
  nav ul li a:hover{
      background: $menuHover;
      border-radius: 50px;
      width: 100%;
      height: auto;
      padding: 4% 70% 4% 4%;
      color: black;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
  }

  
  .closeMenu {
      display: none;
  }
  
  .showMenu {
      transform: translateX(0);
  }